In [5]:
# làm sạch cơ bản

import pandas as pd
import numpy as np
from IPython.display import display # thư viện hỗ trợ hiển thị cho pandas

df = pd.read_csv("JobsDataset.csv") # đọc file

df.drop_duplicates(inplace=True) # xóa dòng bị trùng 100%
df.dropna(subset=['Query', 'Job Title', 'Description'], inplace=True) # xóa dòng nếu thiếu 1 trong 3 cột

In [6]:
display(df.head(20))

,ID,Query,Job Title,Description
0,1,Data Scientist,Junior Data Scientist Apprenticeship,Job Description As a Junior Data Scientist at ...
1,2,Data Scientist,"HBO Data Scientist, Content Science",OVERALL SUMMARY As a Data Scientist on the Dat...
2,3,Data Scientist,Junior Data Scientist,The Team: The Data science team is a newly for...
3,4,Data Scientist,Jr Data Scientist,We now have a need for junior Data Scientist(s...
4,5,Data Scientist,"Data Scientist, Premium Content",Do you want to help guide the core business of...
5,6,Data Scientist,Data Scientist,The Mayor's Office of Data Analytics (MODA) is...
6,7,Data Scientist,Customer Data Scientist,Smartly.io is a fast-growing company aiming to...
7,8,Data Scientist,Data Analyst / Data Scientist,We have a client that is looking for a data sc...
8,9,Data Scientist,Data Scientist,Marketing Statement MetroPlus Health Plan prov...
9,10,Data Scientist,Junior Data Scientist,"Job Description: Junior Data Scientist, Member..."
10,11,Data Scientist,Data Scientist,About Narrativ Narrativ [https://narrativ.com/...
11,12,Data Scientist,Geospatial Data Scientist,NYC Department of Finance (DOF) is responsible...
12,13,Data Scientist,Associate Data Scientist,Overview: Alliant is seeking an Associate Data...
13,14,Data Scientist,Data Scientist,_Position Mission/Summary:_ Looking for opport...
14,15,Data Scientist,Data Scientist,Overview: Alliant is seeking a Data Scientist ...
15,16,Data Scientist,Data Scientist,"Join Sweeten, a fast growing, award-winning te..."
16,17,Data Scientist,"Data Scientist, Patient Messaging",\--------- The Role: \--------- Phreesia’s pat...
17,18,Data Scientist,Distinguished Data Scientist,"As a Distinguished Data Scientist, you will pr..."
18,19,Data Scientist,Data Scientist,Overview Data & Analysis – Data Scientist Digi...
19,20,Data Scientist,Data Scientist/ Researcher,As the Data Scientist with the Market Intellig...